/* App.css */

.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Set height to 100% of viewport height */
}

.App h1 {
  margin: 0;
}

.App .content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.App .infoBox {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 24px;
  box-sizing: border-box;
}

.App .mapContainer {
  flex: 1;
  padding: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.userInfo {
  /* Your user info styles here */
  padding: 12px;
}

.slide-content {
  width: 100%;
  max-width: 600px;
  transition: transform 0.5s ease-in-out;
}

.slide-right {
  transform: translateX(100%);
}

/* Adjust ContainerComponent styles as needed */
